@use './variables' as *;
@font-face {
  font-family: $regular;
  src: url('/src/fonts/TTLakes-Bold.woff') format('woff'),
    url('/src/fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: $regular;
  src: url('/src/fonts/TTLakes-Regular.woff') format('woff'),
    url('/src/fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $medium;
  src: url('/src/fonts/TTLakes-Medium.woff') format('woff'),
    url('/src/fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
